{% extends "base.html" %}

{% load i18n staticfiles %}
{% load url from future %}

{% block page_title %}{% trans "Galleria" %}{% endblock %}

{% block extra_css %}{{ block.super }}
    <link rel="stylesheet" href="{% static "galleria/css/style.css" %}" />
{% endblock %}

{% block extra_js %}{{ block.super }}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script src="{% static "galleria/js/galleria-1.2.9.min.js" %}"></script>
{% endblock %}

{% block body %}
<div id="gallery">
    <div id="galleria">
    {% for obj in object_list %}
        <img src="{{ obj.resource.url }}"/>
    {% endfor %}
    </div>
</div>

{% if not object_lists %}
{% url 'dropzone:index' as dropzone %}
{% blocktrans %}
<div id="empty">Use <a href="{{ dropzone }}">Dropzone</a> to populate storage!</div>
{% endblocktrans %}
{% endif %}

<script>
    Galleria.loadTheme('{% static "galleria/themes/classic/galleria.classic.min.js" %}');
    Galleria.run('#galleria');
</script>
{% endblock %}
