{% extends "base.html" %}

{% load i18n staticfiles %}
{% load url from future %}

{% block page_title %}{% trans "Galleria" %}{% endblock %}

{% block extra_css %}{{ block.super }}
    <link rel="stylesheet" href="{% static "galleria/css/style.css" %}" />
{% endblock %}

{% block extra_js %}{{ block.super }}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script src="{% static "galleria/js/galleria-1.2.9.min.js" %}"></script>
{% endblock %}

{% block extra_js_bottom %}{{ block.super }}
<script>
    Galleria.loadTheme('{% static "galleria/themes/classic/galleria.classic.min.js" %}');
    Galleria.run('#galleria');
</script>
{% endblock %}

{% block body %}
    {% include "frontend/includes/navbar.html" %}

<div class="container">
    <div class="bg-image">
        <img src="http://twitter.github.io/bootstrap/assets/img/examples/slide-03.jpg" alt="">
        <div class="spacer120"></div>
    </div>
</div>

<div class="container marketing">
    <div id="gallery">
        <div id="galleria">
        {% for obj in object_list %}
            <img src="{{ obj.resource.url }}"/>
        {% endfor %}
        </div>
    </div>
    {% include "frontend/includes/footer.html" %}
</div><!-- /.container -->
{% endblock %}
