{% extends "base.html" %}

{% load i18n staticfiles %}
{% load url from future %}

{% block page_title %}{% trans "Relatives" %}{% endblock %}

{% block extra_css %}{{ block.super }}
    <link rel="stylesheet" href="{% static "frontend/css/style.css" %}" />
{% endblock %}

{% block extra_js_bottom %}{{ block.super }}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="page-header">
        <h1>{% trans "Relatives" %}</h1>
    </div>

    <div class="row">
        <div class="span8">
            <p class="lead">
                {% blocktrans %}
                Some smart words here to describe this incredible service!
                {% endblocktrans %}
            </p>
            <p>
                {% blocktrans %}
                As you can imagine we don't want share our data with everyone in the network.
                Therefore you need to ask a permission to use this service with registration form.
                Then you have to use login form to authenticate yourself.
                {% endblocktrans %}
            <p>
        </div>
    </div>

    <div class="row">
        <div class="offset1 span4">
            <form class="form-signin" method="post" action=".">{% csrf_token %}
                <h3 class="form-signin-heading">Sign in</h3>
                <input type="text" name="username" class="input-block-level" placeholder="Email address">
                <input type="password" name="password" class="input-block-level" placeholder="Password">
                {% comment %}
                <label class="checkbox">
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
                {% endcomment %}
                <button class="btn btn-large btn-primary" type="submit">Sign in</button>
            </form>
        </div>
    </div> <!-- row -->

    <div class="row">
        <div class="span6">
            <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <small>Someone famous <cite title="Source Title">Source Title</cite></small>
            </blockquote>
        </div>
    </div> <!-- row -->

    <div id="push"></div>
</div> <!-- /container -->

<div id="footer">
  <div class="container">
    <p class="muted credit">{% blocktrans %}Check out GitHub repository: <a href="https://github.com/RaD/family-tree/">Family-Tree</a>.{% endblocktrans %}</p>
  </div>
</div>
{% endblock %}
